NEXT_PUBLIC_API_URL=http://localhost:8001

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_with_random_32+_chars

# Google OAuth
GOOGLE_CLIENT_ID=136534489921-nvcmufd805gc66lttn8uj4kn032nbkp8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
